.teacher-component{
          background-color: #E5D1AD;
          text-align: center;
          width: 300px;
          border: 1px solid gray;
          border-radius: 5px;

}

.image{
          width: 150px;
          height: 100px;
          border: 2px solid white;
          border-radius: 80px;
}
.different-color{
          background-color:#dfd0b5 ;
}